# CVS global ignores
RCS
SCCS
CVS
CVS.adm
RCSLOG
cvslog.*
tags
TAGS
.make.state
.nse_depinfo
*~
#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# Project ignores (converted from .cvsignore files)
/pintos/src/examples/lib/user/*.d
/pintos/src/examples/lib/*.d
/pintos/src/examples/cat
/pintos/src/examples/cmp
/pintos/src/examples/cp
/pintos/src/examples/echo
/pintos/src/examples/halt
/pintos/src/examples/hex-dump
/pintos/src/examples/ls
/pintos/src/examples/mcat
/pintos/src/examples/mcp
/pintos/src/examples/mkdir
/pintos/src/examples/pwd
/pintos/src/examples/rm
/pintos/src/examples/shell
/pintos/src/examples/bubsort
/pintos/src/examples/insult
/pintos/src/examples/lineup
/pintos/src/examples/matmult
/pintos/src/examples/recursor
/pintos/src/examples/lab2test
/pintos/src/examples/pfs_writer
/pintos/src/examples/pfs
/pintos/src/examples/sumargv
/pintos/src/examples/longrun
/pintos/src/examples/pfs_reader
/pintos/src/examples/child
/pintos/src/examples/parent
/pintos/src/examples/dummy
/pintos/src/examples/create-bad
/pintos/src/examples/*.d
/pintos/src/filesys/build
/pintos/src/filesys/bochsrc.txt
/pintos/src/filesys/bochsout.txt
/pintos/src/tests/userprog/lib/user/*.d
/pintos/src/tests/userprog/lib/*.d
/pintos/src/threads/build
/pintos/src/threads/bochsrc.txt
/pintos/src/threads/bochsout.txt
/pintos/src/userprog/build
/pintos/src/userprog/bochsrc.txt
/pintos/src/userprog/bochsout.txt
/pintos/src/utils/setitimer-helper
/pintos/src/utils/squish-pty
/pintos/src/utils/squish-unix
/pintos/src/vm/build
/pintos/src/vm/bochsrc.txt
/pintos/src/vm/bochsout.txt
/pintos/src/TAGS
